<h1>Bail Reform at Berkeley</h1>
<div class="DonateAndApplyContainer">
  <button type="button">Apply for Bail</button>
  <%= button_to "Donate", new_donation_path, method: :get %>
</div>
<%= image_tag("HomePageBailReformLogo.png",  :size => "300x200", :alt => "homepage logo") %>
<section>
  <%= image_tag("CalHacksLogo.png",  :size => "300x200", :alt => "CalHacks logo") %>
  <%= image_tag("1517Logo.png", :size => "300x200", :alt =>"1517 logo") %>
  <%= image_tag("AsucLogo.png", :size => "300x200", :alt =>"Asuc logo") %>
</section>
