<h1>Bail Reform at Berkeley</h1>
<div class="DonateAndApplyContainer">
  <button type="button">Apply for Bail</button>
  <%= button_to "Donate", new_donation_path, method: :get %>
</div>
<%= image_tag("HomePageBailReformLogo.png",  :size => "300x200", :alt => "homepage logo") %>
<section>
  <div>
  <h3 class="club" style="text-align: center; color: rgb(68, 63, 63);">
    - Our Partners -
  </h3>
    <div class="row">
      <div class= "column">
        <a href="https://calhacks.io/">
          <%= image_tag("CalHacksLogo.png", :class => "Center",  :size => "159x172", :alt => "CalHacks logo") %>
        </a>
      </div>
      <div class = "column">
        <a href="https://www.1517fund.com">
          <%= image_tag("https://www.ocf.berkeley.edu/~brb/wp-content/uploads/2018/10/eufpxFBl.png", :class => "Center", :size => "178x178", :alt =>"1517 logo") %>
        </a>
      </div>
      <div class = "column">
        <a href="https://asuc.org">
          <%= image_tag("AsucLogo.png", :class => "Center", :size => "202x202", :alt =>"Asuc logo") %>
        </a>
      </div>
    </div>
  </div>
</section>
